*.iml
.gradle/
gradle/
/local.properties
.idea
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
UserApp_NexK_GitPublic.iml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/codeStyles/Project.xml
.idea/misc.xml
app/build.gradle
gradle/wrapper/gradle-wrapper.properties
